/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'League Gothic';
  font-weight: 400;
  src:  url('../fonts/League Gothic.otf');
}

h1,h2,h3,h4,h5{
    font-family:'League Gothic';
    font-weight: 400;
}

h1 {
    font-size: 3em;
    margin: 0.20em 0 0.67em 0;
}

h2{
    font-size: 2.5em;
    margin: 0.20em 0 0.50em 0;
    letter-spacing: 0.02em;
}

h5.blockHeading {
    font-size: 1.7em;
    margin: 0.20em 0 0.50em 0;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 1.5em;
    margin: 0.2em 0 0.5em 0;
}

h4 {
    font-size: 1.5em;
    margin: 0.2em 0 0.5em 0;
}

/* anchors */

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.nonContent a{
    color: #FF9123;
}

.content a{
    font-weight: 600;
    color: #f60; /*#E5790A;*/
}

/* paragraphs and bodies of text */

body{
    background-color: #000;
    background-image: url('../img/the-sanstream.png');
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 16px;
    /*position: absolute;  making the body fill the whole page, and nothing more */
    /*height: 100%;*/
    width: 100%;
    /*overflow: hidden;  just a precaution */
    font-family: Georgia, Garamond;
}

p{
    line-height: 1.2em;
}

.siteFrame {
    margin: 0 2%;
    padding: 50px 2% 0;
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*.portrait .siteFrame{
    bottom: 2%;
    height: 95%;
}
*/
.siteFrame:before{
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #FFFFFF;
    content: "";
    display: block;
    height: 100%;
    margin: -50px 0 0;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/*
.portrait .siteFrame:before{
    bottom: 1%;
    height: 96%;
}
.landscape .siteFrame:before{
    height: 91%;
    bottom: 2%;
}*/

.infoBlock,
.pane{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
 }

 .contentBox,
.pane{
    position: relative;
}

/* landscape specific styling */

.landscape .pane{
    display: inline-block;
    vertical-align: top;
    /*height: 100%;*/
}

.landscape .pane1{
    width: 22%;
}

.landscape .pane2{
    width: 22%;
}

.landscape .contentBox{
    width: 55%;
}

/* portrait specific styling */

.portrait .pane{
    display: block;
}

.portrait .pane1{
    height: 22%;
}

.portrait .pane2{
    height: 15%;
}

.portrait .contentBox{
    height: 62%;
    
}

.portrait .pane1 .infoBlock,
.portrait .pane2  .infoBlock{
    display: inline-block;
    vertical-align: top;
    /*height: 100%;*/
}

/*.pane2{
    border: 1px dashed red;
}
.pane1{
    border: 1px dashed purple;
}
.contentBox{
    border: 1px dashed cyan;
}
*/
header{
    margin-bottom: 2%;
}

header h2{
    display: inline;
}

header img.pictureOfMe{
    float: left;
    margin: 10px;
}

.portrait header{
    width: auto;
}
.portrait header div{
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    font-size: 0.8em;
}

.portrait aside.Contact{
   width: 27%;
   margin-left: 1%; 
}

.landscape aside.Contact{
    /*height: 38%;*/
}

section.content{
    /*height: 100%; */
    width: auto; 
    overflow-y: scroll;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

section.content h1,
section.content h2,
section.content h3{
    border-bottom: 1px solid #000;
}

section.page-chunk{
    margin-bottom: 1em;
}

/****************************************************************/
.gallery a{
    display: inline-block;
    vertical-align: top;
    position:relative;
    height: 100px;
    width: 160px;
    border: 1px solid #444;
    overflow: hidden;
    z-index: 12;
    margin: 6px 4px;
}

.gallery a:hover{
    border-color: #000;
}

.gallery a img{
    position: absolute;
    z-index: 10;
}

.gallery a img.left{
    left:0;
}
.gallery a img.right{
    right:0;
    }
.gallery a img.top{
    top: 0;
}
.gallery a img.bottom{
    bottom:0;
}
/****************************************************************/


.infoBlock{
    padding: 15px;
}

.nonContent{
    background-color: #444;
    border: 2px solid #222;
    overflow: hidden;
    color: #eee;
}

.content{
    background-color: #fefefe;
    border: 2px solid #666;  
    color: #555; 
}

/** block specific styling **/


nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    margin: auto;
    display: inline-block;
    vertical-align: bottom; 
}

nav a{
    border-bottom: 2px solid  #30BFBF;
    color: #000 !important;
    font-size: 1em;
    margin: 2px;
    width: 80px;
    text-align: center;
}

nav li a,
nav li a span{
    display: block;
}

nav li a img{
    height: auto;
    display: inline-block;
    width: 50%;
}

.landscape .pane2 .infoBlock{
    margin-bottom: 1%;
}


.portrait .myActivity{
    width: 42%;
}

.portrait .myActivity h5{
    display: none;
}


.portrait nav h5{
    display: none;
}

.portrait footer{
    width: 16%;
    display: block;
}

.landscape .myActivity{
    /*height: 50%;*/
}

.myActivity .tweets{
    height: 70%;
    font-size: 0.8em;
    list-style: none;
    padding: 4px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #444;
    overflow-y: auto;
    font-family: Arial;
    line-height: 1.3em;
}
.myActivity .tweets li {
    border-bottom: 1px dashed #777777;
    padding: 2%;
    width: 90%;
}

footer{
     font-size: 0.8em;
    line-height: 1em;
}

.landscape footer{
    max-height: 14%;
}


/* icon font: */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/iconFonts/icomoon.eot');
    src:url('../fonts/iconFonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconFonts/icomoon.woff') format('woff'),
        url('../fonts/iconFonts/icomoon.ttf') format('truetype'),
        url('../fonts/iconFonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: icomoon;
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9em;
    padding:0 7px 0 0;
}


/*****************************************************/

article.post{
    margin-bottom: 2em;
}
article.post .post_date,
article.single_post .post_date{
    font-size: 0.7em;
}

article.post h2 a{
    font-weight: 400;
}

article.post .post_category {
    font-size: 0.7em;
}

article.post .post_intro {
    border-bottom: 1px dashed #999999;
    padding: 1em 0;
}

/*****************************************************/

article.single_post img.pyro-image.alignment-none{
    max-width: 100%;
}