/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'League Gothic';
  font-weight: 400;
  src:  url('../fonts/League Gothic.otf');
}



h1,h2,h3,h4,h5{
    font-family:'League Gothic';
    font-weight: 400;
}

h1 {
    font-size: 3em;
    margin: 0.20em 0 0.67em 0;
}

h2{
    font-size: 2.5em;
    margin: 0.20em 0 0.50em 0;
    letter-spacing: 0.02em;
}

h5.blockHeading {
    font-size: 1.7em;
    margin: 0.20em 0 0.50em 0;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 1.5em;
    margin: 0.2em 0 0.5em 0;
}

h4 {
    font-size: 1.5em;
    margin: 0.2em 0 0.5em 0;
}

/* anchors */

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.nonContent a{
    color: #FF9123;
}

.content a{
    font-weight: 600;
    color: #f60; /*#E5790A;*/
}

/* paragraphs and bodies of text */

body{
    background-color: #000;
    background-image: url('../img/the-sanstream.png');
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 16px;
    /*position: absolute;  making the body fill the whole page, and nothing more */
    /*height: 100%;*/
    width: 100%;
    /*overflow: hidden;  just a precaution */
    font-family: Georgia, Garamond;
}

p{
    line-height: 1.2em;
    min-width: 0.8em;
}

.siteFrame {
    background-color: rgba(255,255,255,0.7);
    margin: 1% 2%;
    padding: 50px 2% 20px;
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.infoBlock,
.pane{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
 }

 .contentBox,
.pane{
    position: relative;
}

/* landscape specific styling */

.landscape .pane{
    display: inline-block;
    vertical-align: top;
    /*height: 100%;*/
}

#extended-bio {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 1s;
}

#extended-bio.shown{
    height: auto;
    opacity: 1;
}

@media only screen and (min-width: 65em) {

    .pane{
        display: inline-block;
        vertical-align: top;
    }

    .pane1{
    width: 22%;
    }

    .pane2{
        width: 22%;
    }

    .contentBox{
        width: 55%;
    }

}


/* portrait specific styling */


header{
    margin-bottom: 2%;
    font-family: Arial;
}

header h2{
    display: inline;
}

header img.pictureOfMe{
    float: left;
    margin: 10px;
}

header p{
    font-size: 0.8em;
}

section.content{
    
    width: auto; 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    letter-spacing: 0.1em;
}

section.content h1,
section.content h2,
section.content h3{
    border-bottom: 1px solid #000;
}

section.page-chunk{
    margin-bottom: 1em;
}

/****************************************************************/
.gallery a{
    display: inline-block;
    vertical-align: top;
    position:relative;
    height: 100px;
    width: 160px;
    border: 1px solid #444;
    overflow: hidden;
    z-index: 12;
    margin: 6px 4px;
}

.gallery a:hover{
    border-color: #000;
}

.gallery a img{
    position: absolute;
    z-index: 10;
}

.gallery a img.left{
    left:0;
}
.gallery a img.right{
    right:0;
    }
.gallery a img.top{
    top: 0;
}
.gallery a img.bottom{
    bottom:0;
}
/****************************************************************/


.infoBlock{
    padding: 15px;
}

.nonContent{
    background-color: #444;
    /*border: 2px solid #222;*/
    overflow: hidden;
    color: #eee;
    margin-bottom: 3px;
}

.content{
    background-color: #fefefe;
    /*border: 2px solid #666;  */
    color: #555; 
    margin-bottom: 3px;
}

/** block specific styling **/


nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    margin: auto;
    display: inline-block;
    vertical-align: bottom; 
}

nav a{
    border-bottom: 2px solid  #30BFBF;
    color: #000 !important;
    font-size: 1em;
    margin: 2px;
    width: 80px;
    text-align: center;
}

nav li a,
nav li a span{
    display: block;
}

nav li a img{
    height: auto;
    display: inline-block;
    width: 50%;
}

.landscape .pane2 .infoBlock{
    margin-bottom: 1%;
}

.portrait .myActivity h5{
    display: none;
}


.portrait nav h5{
    display: none;
}

.portrait footer{
    display: block;
}

.landscape .myActivity{
    /*height: 50%;*/
}

.myActivity .tweets{
    height: 70%;
    font-size: 0.8em;
    list-style: none;
    padding: 4px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #444;
    overflow-y: auto;
    font-family: Arial;
    line-height: 1.3em;
}
.myActivity .tweets li {
    border-bottom: 1px dashed #777777;
    padding: 2%;
    width: 90%;
}

footer{
     font-size: 0.8em;
    line-height: 1em;
}


/* icon font: */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/iconFonts/icomoon.eot');
    src:url('../fonts/iconFonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconFonts/icomoon.woff') format('woff'),
        url('../fonts/iconFonts/icomoon.ttf') format('truetype'),
        url('../fonts/iconFonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: icomoon;
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9em;
    padding:0 7px 0 0;
}


/*****************************************************/

article.post{
    margin-bottom: 2em;
}
article.post .post_date,
article.single_post .post_date{
    font-size: 0.7em;
}

article.post h2 a{
    font-weight: 400;
}

article.post .post_category {
    font-size: 0.7em;
}

article.post .post_intro {
    border-bottom: 1px dashed #999999;
    padding: 1em 0;
}

/*****************************************************/

article.single_post img.pyro-image.alignment-none{
    max-width: 100%;
}